<% include_javascript "/tog_vault/javascripts/admin" %>
<% include_javascript "/tog_vault/javascripts/ruledtable" %>
<% include_javascript "/tog_vault/javascripts/pagetree" %>
<% include_javascript "/tog_vault/javascripts/string" %>

<h2><%= I18n.t("tog_vault.page.pages") %></h2>

<table id="site-map" summary="Page hierarchy of the current site">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("tog_vault.page.page") %></th>
      <th scope="col"><%= I18n.t("tog_vault.page.status") %></th>
      <th scope="col"><%= I18n.t("tog_vault.page.add_child") %></th>
      <th scope="col"><%= I18n.t("tog_vault.page.remove") %></th>
    </tr>
  </thead>
  <tbody>
<% if @homepage %>
  <%= render_node @homepage -%>
<% else -%>
  <tr>
    <td colspan="4" class="note"><%= I18n.t("tog_vault.page.no_pages") %></td>
  </tr>
<% end -%>
  </tbody>
</table>             
<% unless @homepage -%>
    <%= link_to image('new-homepage', :alt => I18n.t("tog_vault.page.new_homepage")), cms_homepage_new_url %>
<% end -%>
