<% pages = pluralize(@page.children.count + 1, I18n.t("tog_vault.page.page")) -%>

<div class="titleB"><%= I18n.t("tog_vault.page.remove_pages", :pages => pages) %></div>
<p>
  <%= I18n.t("tog_vault.page.are_you_sure_remove_pages", :pages => pages.downcase) %>
</p>

<table>
  <tbody>
    <%= render_node @page, :simple => true -%>
  </tbody>
</table>

<% form_for :page, :url => "" do |f| %>
  <p class="actions">
    <%= submit_tag I18n.t("tog_vault.page.delete_pages_button", :pages => pages), :class=>"button mainaction" %> or <%= link_to I18n.t("tog_vault.page.cancel"), cms_page_index_url %>
  </p>
<% end %>
